---
client:
  hosts:
    {{ elasticsearch_curator_hosts | from_yaml | to_nice_yaml(indent=2) | indent(width=4) | trim }}

logging:
  loglevel: {{ elasticsearch_curator_log_level }}
  logformat: {{ elasticsearch_curator_log_format }}
  blacklist: {{ elasticsearch_curator_log_blacklist | to_yaml | trim }}

...
