[Unit]
Description=Elasticsearch Curator

[Service]
Type=oneshot
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
EnvironmentFile=/etc/environment

ExecStart=/usr/local/bin/curator /root/.curator/actions.yml

[Install]
WantedBy=multi-user.target
